{
  "plugins": [
    "transform-es2015-modules-commonjs",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ],
    "syntax-async-functions",
    "transform-async-to-generator"
  ]
}
