# configs
.babelrc
.nycrc
.eslintrc
.npmrc
.gitignore
.gitlab-ci.yml

# Tests
/**/*spec.js
/**/*spec.js.map

# Coverage reports
/coverage
.nyc_output
/tmp

# IDE stuff
.idea/

# Node stuff
node_modules
*.log

# OS Stuff
.DS_Store
Thumbs.db
